name: Android Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Setup Android SDK
        uses: android-actions/setup-android@v3

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build web assets
        run: npm run build

      - name: Install Capacitor CLI
        run: npm install -D @capacitor/cli

      - name: Sync Capacitor
        run: npx cap sync android

      - name: Make gradlew executable
        run: chmod +x android/gradlew

      - name: Decode Keystore
        env:
          ENCODED_STRING: ${{ secrets.KEYSTORE_BASE64 }}
        run: |
          mkdir -p ~/.android
          echo $ENCODED_STRING | base64 -di > ~/.android/release.keystore

      - name: Build Release APK
        run: cd android && ./gradlew assembleRelease

      - name: Sign APK
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}
        run: |
          cd android/app/build/outputs/apk/release
          build_tools_version=$(ls $ANDROID_HOME/build-tools | sort -V | tail -n1)
          $ANDROID_HOME/build-tools/$build_tools_version/apksigner sign --ks ~/.android/release.keystore --ks-key-alias $KEY_ALIAS --ks-pass env:KEYSTORE_PASSWORD --key-pass env:KEY_PASSWORD app-release-unsigned.apk

      - name: Zipalign APK
        run: |
          cd android/app/build/outputs/apk/release
          build_tools_version=$(ls $ANDROID_HOME/build-tools | sort -V | tail -n1)
          $ANDROID_HOME/build-tools/$build_tools_version/zipalign -f 4 app-release-unsigned.apk app-release.apk

      - name: Upload Release APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: android/app/build/outputs/apk/release/app-release.apk
